@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

/* fonts */
.bold {
  font-weight: bold;
}

.regular {
  font-weight: 100;
}

.heading {
  font-size: 18px;
}

.paragraph {
  font-size: 20px;
}

/* font color */
.primary {
  color: #0d1da5;
}

.light-blue {
  color: #3256b8;
}

.orange {
  color: #ffaf2f;
}

/* position */
.float-right {
  right: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.v-center-align {
  display: flex;
  align-items: center;
}

.h-center-align {
  display: flex;
  justify-content: center;
}

/* button */
.btn {
  border-radius: 30px;
  opacity: 1;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.btn-small {
  width: 70px;
  height: 20px;
}

.btn-primary {
  color: #ffffff;
  background: #3256b8;
}

.barContent {
  height: 100%;
  margin: 0 30px;
}

/* navigation bar */
.navbar {
  width: 100%;
  top: 0;
  height: 30px;
  z-index: 1;
}

.nav-transparent {
  background-color: rgb(255, 255, 255, 0.27);
}

.nav-colored {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #e0e0e0;
  -moz-box-shadow: 0 8px 6px -6px #e0e0e0;
  box-shadow: 0 8px 6px -6px #e0e0e0;
}

.navText {
  opacity: 1;
  font-size: 10px;
}

/* banner section */
.banner {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  height: 40vh;
}

.textContainer {
  width: 35%;
}

.imgContainer {
  width: 65%;
}

.bannerImg {
  top: 0;
  right: 0;
  height: 90%;
  width: 100%;
}

.bannerHeading {
  height: 50%;
}

.bannerBtn {
  height: 15%;
}

.bannerFooter {
  height: 15%;
}

.hfText {
  height: 15px;
  font-size: 10px;
}

.hfImg {
  height: 15px;
  margin-left: 5px;
}

.companyLogo {
  width: 15px;
}

.section {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  height: 35vh;
}

.col-6 {
  width: 60%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-1 {
  width: 10%;
}

.section > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectionTxt {
  font-size: 8px;
}

.roundedImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.ml-30 {
  margin-left: 30px;
}

.chatImg {
  width: 100px;
  height: 50px;
}

.fixed-left {
  top: -10px;
}

.fixed-right {
  top: -50px;
  right: 30px;
}

/* footer section */
.footer {
  font-size: 10px;
  background-color: #3256b8;
  height: 30px;
  color: white;
}

/* Big screens */
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
  .navbar {
    height: 86px;
  }

  .navText {
    font-size: 18px;
  }

  .barContent {
    margin: 0 120px;
  }

  .btn {
    width: 146px;
    height: 45px;
    font-size: 18px;
  }

  .banner {
    margin-left: 120px;
    height: 100vh;
  }

  .bannerContent {
    width: 548px;
  }

  .imgContainer {
    height: 100vh;
    width: 65%;
  }

  .bannerHeading {
    height: 45%;
  }

  .bannerImg {
    height: 100%;
  }

  .companyLogo {
    width: 20px;
  }

  .section {
    margin: 0 120px;
    height: 100vh;
  }

  .sectionTxt {
    width: 60%;
    font-size: 20px;
  }

  .roundedImg {
    border-radius: 50%;
    width: 450px;
    height: 450px;
  }

  .ml-30 {
    margin-left: 100px;
  }

  .footer {
    height: 80px;
    font-size: 14px;
  }

  .fixed-left {
    top: 30px;
    left: 250px;
  }

  .fixed-right {
    top: 20px;
    right: 100px;
  }

  .chatImg {
    width: 250px;
    height: 100px;
  }

  .hfText {
    height: 30px;
    font-size: 18px;
  }
  
  .hfImg {
    height: 30px;
    margin-left: 30px;
  }

  .bannerBtn {
    height: 25%;
  }
}
