@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap");

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

.rectangularImg {
  width: 60%;
  margin-top: 30px;
  height: 50%;
}

/* fonts */
.bold {
  font-weight: 600;
}

.bolder {
  font-weight: bold;
}

.regular {
  font-weight: 100;
}

.heading {
  font-size: 24px;
}

.paragraph {
  font-size: 16px;
}

/* font color */
.primary {
  color: #0d1da5;
}

.light-blue {
  color: #3256b8;
}

.orange {
  color: #ffaf2f;
}

/* position */
.float-right {
  right: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.v-center-align {
  display: flex;
  align-items: center;
}

.h-center-align {
  display: flex;
  justify-content: center;
}

/* button */
.btn {
  border-radius: 30px;
  opacity: 1;
  font-size: 10px;
  cursor: pointer;
  border: 0;
  height: 30px;
  width: 80px;
}

.btn-primary {
  color: #ffffff;
  background: #3256b8;
}

.barContent {
  height: 100%;
  margin: 0 30px;
}

/* navigation bar */
.navbar {
  width: 100%;
  top: 0;
  height: 50px;
  z-index: 1;
}

.nav-transparent {
  background-color: rgb(255, 255, 255, 0.27);
}

.nav-colored {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #e0e0e0;
  -moz-box-shadow: 0 8px 6px -6px #e0e0e0;
  box-shadow: 0 8px 6px -6px #e0e0e0;
}

.navText {
  opacity: 1;
  font-size: 10px;
}

/* banner section */
.banner {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-bottom: 0;
  height: 40vh;
}

.textContainer {
  width: 50%;
}

.imgContainer {
  height: 90%;
  width: 65%;
}

.bannerImg {
  top: 0;
  right: 0;
  height: 90%;
  width: 100%;
  object-fit: fill;
}

.bannerHeading {
  height: 65%;
}

.bannerBtn {
  height: 15%;
}

.hfText {
  height: 15px;
  font-size: 10px;
}

.hfImg {
  height: 15px;
  margin-left: 5px;
}

.companyLogo {
  height: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 50px 30px;
}

.reverse {
  display: flex;
  flex-flow: column-reverse;
}

.sectionTxt {
  font-size: 8px;
}

.roundedImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.chatImg {
  width: 100px;
  height: 50px;
}

.fixed-left {
  top: -10px;
}

.powerBar {
  color: white;
  display: flex;
  align-items: center;
  width: 70%;
  height: 40px;
  background-color: #3256b8;
  padding-left: 30px;
  border-radius: 0 30px 30px 0;
  position: absolute;
  top: 38vh;
  font-size: 12px;
}

/* footer section */
.footer {
  background-color: #3256b8;
  height: 60px;
  color: white;
}

/* Big screens */
@media only screen and (min-width: 768px) {
  .rectangularImg {
    margin: 0;
    height: 100%;
  }

  .paragraph {
    font-size: 18px;
  }

  .section {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
    height: 35vh;
  }

  .section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .col-6 {
    width: 60%;
  }

  .col-4 {
    width: 40%;
  }

  .col-5 {
    width: 50%;
  }

  .col-1 {
    width: 10%;
  }

  .heading {
    font-size: 48px;
  }

  .navbar {
    height: 100px;
  }

  .navText {
    font-size: 18px;
  }

  .barContent {
    margin: 0 120px;
  }

  .btn {
    width: 150px;
    height: 55px;
    font-size: 18px;
  }

  .banner {
    margin-left: 120px;
    height: 100vh;
  }

  .bannerContent {
    width: 548px;
  }

  .textContainer {
    width: 35%;
  }

  .imgContainer {
    height: 100vh;
    width: 65%;
  }

  .bannerHeading {
    height: 50%;
  }

  .bannerImg {
    height: 100%;
  }

  .companyLogo {
    height: 25px;
  }

  .section {
    margin: 0 120px;
    height: 100vh;
  }

  .sectionTxt {
    font-size: 20px;
  }

  .roundedImg {
    width: 450px;
    height: 450px;
    margin: 0;
  }

  .ml-30 {
    margin-left: 100px;
  }

  .footer {
    height: 80px;
    font-size: 16px;
  }

  .fixed-left {
    left: 100px;
    top: 30px;
  }

  .chatImg {
    width: 250px;
    height: 100px;
  }

  .hfText {
    height: 30px;
    font-size: 18px;
  }

  .hfImg {
    height: 30px;
    margin-left: 30px;
  }

  .bannerBtn {
    display: flex;
    align-items: center;
    height: 30%;
  }

  .powerBar {
    width: 25%;
    height: 60px;
    padding-left: 120px;
    top: 85vh;
    font-size: 18px;
  }
}

/* Bigger screens */
@media only screen and (min-width: 1450px) {
  .fixed-left {
    left: 240px;
  }
}
